# ====================================================================
# ШАБЛОН ПЕРЕМЕННЫХ ОКРУЖЕНИЯ (LMS-COURSEWORK .env.template)
# Скопируйте этот файл, назовите его .env и заполните своими данными
# ====================================================================

# Настройки безопасности Django
SECRET_KEY="your_django_secret_key_here"
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Настройки СУБД PostgreSQL
DB_NAME=lms_course_db
DB_USER=postgres
DB_PASSWORD="your_postgres_password_here"
DB_HOST=127.0.0.1
DB_PORT=5432

# Настройки брокера асинхронных очередей Celery & Redis
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0

# Интеграция с мессенджером Telegram (Задание 3)
TELEGRAM_BOT_TOKEN="your_telegram_bot_token_from_botfather"

# Настройки отправки почтовых уведомлений (при необходимости)
EMAIL_HOST=smtp.mail.ru
EMAIL_PORT=465
EMAIL_HOST_USER="your_email@mail.ru"
EMAIL_HOST_PASSWORD="your_smtp_application_password"
EMAIL_USE_SSL=True
